header {
    position:fixed;
    top:0;
    left:0;
    background-color: #414660; 
    color: white;
    width:100%
}

#headerWrapper {
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

#headerGauche {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:3em;
}

#logo {
    width: 100px;
    height: auto;
}


nav {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:2em;
}


nav a{
  color: white;
  text-decoration: none;
}

#gridWrapper {
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "bgPale1 gridForm bgPale2"
        "bgFonce1 gridSelectionCinema bgFonce2"
        "bgPale3 gridStats bgPale4"
        "bgFonce3 gridMesFilmsSeries bgFonce4"
        "bgPale5 gridBandeAnnonce bgPale6";

    padding-top: 80px;
}

fieldset {
  border-radius: 20px;
  box-shadow:outset;
}

#instructionsFormulaire {
    color:#414660;
}

#titre, #genre, #statut {
    border-radius: 5px;
}

#boutonSoumettre {
    margin:10px;
    border-radius: 5px;
}

th {text-align: left;
    font-weight: bold;
    background-color: #F2F6F7;
}

td, th {border-bottom: 1px solid #D3D3D3;
    padding: 20px;
}

.delete {background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
}

body {
    margin: 0;
    font-family: 'Inter',sans-serif;
}

#footerWrapper {
    display: flex;
    justify-content: space-between;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: white;
    background-color: #0b1a3a;
    padding: 20px 15px;
}

#footerGauche {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:3em;
}

#footerDroite {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:2em;
}

footer a {
    color: white;
    text-decoration: none;
}

#selectionCinema {
    display:grid;
    gap:3em;
    width:100%;
    height:auto;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto;
}

#selectionCinema div {
    background-color: #FFFFFF;
    border-radius: 20px;
}

#selectionCinema img {
    float:left;
    width:3em;
    height:auto;
    margin:3%
}

#selectionCinema p {
    margin:2%;
}

#stats {
    display:flex;
    text-align: center;
}

#stats div {
    width:20%;
    background-color: #FFFFFF;
    margin: 1%;
    border-radius: 20px;
    padding: 20px;
}

#mesFilmsSeriesWrapper {
    background-color: #FFFFFF;
    padding:10px;
    border-radius: 20px;
    margin:0;
}

#mesFilmsSeries {
    margin:0;
}

#filtre {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:2em;
    height:20px;
    width:150px;
    border-radius: 5px;
}

#wrapperh2Filtre {
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    gap:2em;
}

#avertissementRequired {
    color:#FF0000;
}

#sectionForm{
    grid-area: gridForm;
    background-color: #F2F6F7;
    margin-top: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

#sectionSelectionCinema{
    grid-area: gridSelectionCinema;
    background-color: #E6F3F7;
    margin: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

#sectionStats{
    grid-area: gridStats;
    background-color: #F2F6F7;
    margin: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

#sectionMesFilmsSeries{
    grid-area: gridMesFilmsSeries;
    background-color: #E6F3F7;
    margin: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

#sectionBandeAnnonce{
    grid-area: gridBandeAnnonce;
    background-color: #F2F6F7;
    margin:0;
    padding-top:20px;
    padding-bottom: 20px;
}

#bandeAnnonce {
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

.centrer {
    margin-right: auto;
    margin-left: auto;
    width:100%;
}

h1, h2, p {
    margin-top:0;
    margin-bottom: 0;
}

h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

#gridPale1 {
    grid-area:bgPale1;
    background-color: #F2F6F7;
}

#gridPale2 {
    grid-area:bgPale2;
    background-color: #F2F6F7;
}

#gridFonce1 {
    grid-area:bgFonce1;
    background-color: #E6F3F7;
}

#gridFonce2 {
    grid-area:bgFonce2;
    background-color: #E6F3F7;
}

#gridPale3 {
    grid-area:bgPale3;
    background-color: #F2F6F7;
}

#gridPale4 {
    grid-area:bgPale4;
    background-color: #F2F6F7;
}

#gridFonce3 {
    grid-area:bgFonce3;
    background-color: #E6F3F7;
}

#gridFonce4 {
    grid-area:bgFonce4;
    background-color: #E6F3F7;
}

#gridPale5 {
    grid-area:bgPale5;
    background-color: #F2F6F7;
}

#gridPale6 {
    grid-area:bgPale6;
    background-color: #F2F6F7;
}