.logo {width: 140px;
    height: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

header {
  background-color: #0b1a3a; 
  color: white;
  padding: 10px 20px;
}

fieldset {
  border-radius: 20px;
  box-shadow:outset;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right {
  display: flex;
  gap: 20px;
}

table {border-collapse: collapse;
    width: 100%;
}

th {text-align: left;
    font-weight: bold;
    background-color: #E0E0E0;
}

td, th {border-bottom: 1px solid #D3D3D3;
    padding: 20px;
}

.delete {background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
}

body {margin: 0;
    font-family: 'Inter',sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

footer {
    color: white;
    background-color: #0b1a3a;
    padding: 20px 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

.container a {
   margin-right: 20px;
}

#selectionCinema {
    display:grid;
    gap:3em;
    width:90%;
    height:auto;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto auto;
}

#selectionCinema div {
    background-color: #CCFFFF;
    border-radius: 20px;
}

#selectionCinema img {
    float:left;
    width:3em;
    height:auto;
    margin:3%
}

#selectionCinema p {
    margin:2%;
}

#stats {
    display:flex;
    text-align: center;
}

#stats div {
    width:20%;
    background-color: #CCFFFF;
    margin: 1%;
    border-radius: 20px;
}

#filtre {
    width:50%;
    float:right;
}

#avertissementRequired {
    color:#FF0000;
}

#sectionForm{
    background-color: #F2F6F7;
    margin-top: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

#sectionSelectionCinema{
    background-color: #E6F3F7;
    margin: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

#sectionStats{
    background-color: #D0E9F2;
    margin: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

#sectionMesFilmsSeries{
    background-color: #E6F3F7;
    margin: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

#sectionBandeAnnonce{
    background-color: #D0E9F2;
    margin:0;
    padding-top:20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.centrer {
    margin-right: auto;
    margin-left: auto;
    width:90%;
}

h1, h2, p {
    margin-top:0;
    margin-bottom: 0;
}